%h2 New Post

- form_for(@post, :url => admin_post_path(@post.id)) do |make|
  = make.error_messages
  %p
    = make.label        :permalink
    = make.text_field   :permalink
  %p                    
    = make.label        :title
    = make.text_field   :title
  %p                    
    = make.label        :excerpt
    = make.text_area    :excerpt
  %p                    
    = make.label        :body
    = make.text_area    :body
  %p
    = make.label :state
    = make.label :state_draft, "Draft", :class => "inline"
    = make.radio_button :state, :draft
    = make.label :state_private, "Private", :class => "inline"
    = make.radio_button :state, :private
    = make.label :state_published, "Published", :class => "inline"
    = make.radio_button :state, :published
  .clear
  %p= make.submit     "Create"