!!!
%html
  %head
    %title= admin_page_title
    = stylesheet_link_tag 'reset', 'admin'
  %body
    - flash.each do |key, message|
      %p#flash{:class => key}
        %strong= "#{key.to_s.capitalize}:"
        = message
    #header
      %h1
        %strong= link_to small_page_title, admin_url
        - if logged_in?
          %em= "(Logged in as #{current_user})"
        - else
          %em= "(Not logged in)"
      - if logged_in?
        %ul#navigation
          %li= link_to "Posts", admin_posts_path
          %li= link_to "Preferences", admin_preferences_path          
          %li= link_to "Logout", logout_url
        %ul#subnavigation= yield :subnavigation
    #page
      = yield
